<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <mat-list-item routerLink="home">
                <span class="list-item-text">Home</span>
            </mat-list-item>
            <mat-list-item routerLink="users">
                <span class="list-item-text">Users</span>
            </mat-list-item>
            <mat-list-item routerLink="courses">
                <span class="list-item-text">Courses</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Instituto Educativo Superior</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>

        <main class="page-content">
            <ng-content>
            </ng-content>
        </main>
    </mat-drawer-content>

</mat-drawer-container>