.example-container {
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
    background-color: #3f51b5;
}

.list-item-text {
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.page-content {
    padding: 1rem;
}